    /*
  #003554
	#00b395
	#41b7c4
	#f4f4f2*/

*{
    box-sizing: border-box;
}
body{
    color: #003554;
    background-color: #f4f4f2;
    font-family: "Ubuntu", sans-serif;
    -webkit-print-color-adjust: exact
}
h1{
    font-family:"Graduate", cursive;
}

hr{
    width: 80%;
    display: block;
    border-top: 3px solid #003554;
}

/************* HEADER *****************/
#headerName{
    padding: 20px;
}
#headerName h2{
    margin:  0px;
}
#headerName a{
    color: #f4f4f2;
}
#headerName a:hover{
    text-decoration: none;
}
header{
    background-color: #003554;
    width: 100%;
}
/****************HEADER END***************/

/***************JUMBOTRON*****************/
#jumbotron{
    /*height: 600px;*/
    width: 100%;

}
#image1{
    width:100%;
    height:inherit;
    background: url('../images/resumeCloseup.jpg') no-repeat fixed center;
    background-size: cover;
    display: inline-block;
    opacity: 1;
    position: absolute;
}
#image2{
    width:100%;
    height:inherit;
    background: url('../images/handshake.jpg') no-repeat fixed center;
    background-size: cover;
    display: none;
    opacity:0;
    position: absolute;
}
#image3{
    width:100%;
    height:inherit;
    background: url('../images/typingCloseup.jpg') no-repeat fixed center;
    background-size: cover;
    display: none;
    opacity:0;
    position: absolute;
}
.jumboTextBG{
    width: 100%;
    height:inherit;
    position: relative;
    background-color: rgba(0,53,84,0.7);
    display: inherit;
}
.jumboText h1{
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Graduate', cursive;
}
.jumboText h3{
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 5%;
}
.jumboText a{
    text-decoration: none;
    color: #003554;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 50px;
    position: absolute;
    background-color: #f4f4f2;
    border-radius: 20px;
}
.jumboText{
    color: #f4f4f2;
    width: 50%;
    margin-top: auto;
    margin-left: 5%;
    position: absolute;
    /*To center the div vertically*/
    top: 50%;
    transform: translateY(-50%);
}
#dots{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; // Need a specific value to work
    height: 100px;
    background-color: #f4f4f2;
    border-radius: 20px;
    padding: 10px;
}
#dot1, #dot2, #dot3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid #003554 2px;
    display: inline-block;
    margin-right: 3px;
}
#dot1:hover, #dot2:hover, #dot3:hover{
    background-color: #00b395!important;
    cursor: pointer;
}

/*************JUMBOTRON END**********/
#steps{
    z-index:2;
    height: 150px;
    margin-top: 50px;
}
.row h1{
    margin-top: 50px;
}
#steps:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 3px #003554;
    z-index:-1;
}
.stepsIndividual{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #003554;
    padding: 20px;
    background-color: #f4f4f2;
    transition: background-color 1s, color 1s;
    -webkit-transition:background-color 1s, color 1s;
    -moz-transition:background-color 1s, color 1s;

}
.stepsIndividual img{
    width: 40%;
}
.stepsIndividual:hover{
    background-color: #41b7c4!important;
    color: #f4f4f2!important;
    border: 3px solid #41b7c4;
    cursor: pointer;
}
.displayStepText{
  text-align:center;
  position:relative;
  margin:auto;
  margin-top: 30px;
}
.displayStepPicture img{
    margin-top: 0px;
    margin-top: 30px;
}
.hidden{
    display: none;
}
.buildResumeButton a{
    text-decoration: none;
    font-size: 2em;
    color: #033554;
    background-color: #f4f4f2;
    padding: 20px;
    border-radius: 40px;
}
.centerDiv{
    text-align:center;
    position:relative;
    margin:auto;
}
.buildResumeButton{
    margin-top: 40px;
    margin-bottom: 40px;
}
#buildNow{
    margin-top: 80px;
    background-color: #003554;
    color: #f4f4f2;
}
#buildNow >div{
    width: 80%;
}

/***********************************************/
#templateGrid{
    width: 60%;
}
.resumeTemplatePreview{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.resumeTemplatePicture{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform-origin: center;
    box-shadow: 10px 10px 10px rgba(1,1,1,0.15);
    /*transition: width 0.5s, height 0.5s, margin 0.5s, box-shadow 0.5s;*/
}
.resumeTemplatePicture img{
    width: 100%;
}
.resumeTemplatePicture:hover{
    /*width: 150%;*/
    /*height: 150%;*/
    box-shadow: 10px 10px 10px rgba(1,1,1,0.5);
    transform: scale(1.5,1.5);
}
.resumeTemplatePreview:hover{
    z-index: 2;
}

.resumeTemplateText{
    height:20%;
    width: 100%;
    z-index: 3;
    margin-top: -30px;
    background-color: rgba(0,53,84,0);
    transform-origin: center;
    transition: all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition: all 0.5s;
}
.resumeTemplatePicture:hover  .resumeTemplateText{
    transform: scale(1);
    background-color: rgba(0,53,84,1);
}
.resumeTemplatePreview p {
    display: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    padding:5px;
    font-size: 1.2em;
}
.resumeTemplatePreview:hover p{
    display: block;
}
/*********************************************/
.downloadButton{
    background-color: #033554;
    display: inline-block;
    padding: 20px;
    border-radius: 40px;
}
.downloadButton{
    color: #f4f4f2;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
#downloadPreview{
    width: 100%
}
#placeHolder{
    height: 500px;
    width: 100%;
    margin-top: 50px;
}
#mainHeading{
    margin: 50px;
}
/****************Large devices****************/
@media screen and (min-width: 1200px){
    #steps{
        width:900px;
    }
    .displayStepPicture img{
        width: 50%;
    }
}
/*********************************************/

/****************Medium devices**************/
@media (max-width:1199px) and (min-width: 992px){
    #steps{
        width:800px;
    }
    .displayStepPicture img{
        width: 51%;
    }
}
/********************************************/


/*****************Small devices**************/
@media (max-width:991px) and (min-width:768px){
    #steps{
        width:700px;
    }
    .displayStepPicture img{
        width: 75%;
    }
}
/********************************************/


/**************extra small devices************/
@media (max-width:768px){
    #steps{
        width:400px;
    }
    #steps:after{
        border-top:none;
    }
    .stepsIndividual{
        border: none;
        display: block;
        background-color: #f4f4f2!important;
        color: #033554!important;
    }
    .stepsIndividual:hover{
        background-color: #f4f4f2!important;
        color: #033554!important;
        border: 0px solid #41b7c4;
        cursor: pointer;
    }

    .displayStepText h3{
        font-size: 1.1em;
    }
    .displayStepText{
        margin-top:0px;
        margin-bottom: 13%;
    }

}
/********************************************/
#downloadPreview{
    border: 2px solid red;
}
