    /*
  #003554
	#00b395
	#41b7c4
	#f4f4f2*/

*{
    box-sizing: border-box;
}
body{
    color: #003554;
    background-color: #f4f4f2;
    font-family: "Ubuntu", sans-serif;
}
/************* HEADER *****************/
#headerName{
    padding: 20px;
}
#headerName h2{
    margin:  0px;
}
#headerName a{
    color: #003554;
}
#headerName a:hover{
    text-decoration: none;
}
header{
    background-color: #f4f4f2;
}
/****************HEADER END***************/

/***************JUMBOTRON*****************/
#jumbotron{
    /*height: 600px;*/
    width: 100%;

}
#image1{
    width:100%;
    height:inherit;
    background: url('../images/resumeCloseup.jpg') no-repeat fixed center;
    background-size: cover;
    display: inline-block;
    opacity: 1;
    position: absolute;
}
#image2{
    width:100%;
    height:inherit;
    background: url('../images/handshake.jpg') no-repeat fixed center;
    background-size: cover;
    display: none;
    opacity:0;
    position: absolute;
}
#image3{
    width:100%;
    height:inherit;
    background: url('../images/typingCloseup.jpg') no-repeat fixed center;
    background-size: cover;
    display: none;
    opacity:0;
    position: absolute;
}
.jumboTextBG{
    width: 100%;
    height:inherit;
    position: relative;
    background-color: rgba(0,53,84,0.7);
    display: inherit;
}
.jumboText h1{
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Graduate', cursive;
}
.jumboText h3{
    font-family: 'Ubuntu',sans-serif;
    margin-bottom: 5%;
}
.jumboText a{
    text-decoration: none;
    color: #003554;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 50px;
    position: absolute;
    background-color: #f4f4f2;
    border-radius: 20px;
}
.jumboText{
    color: #f4f4f2;
    width: 50%;
    margin-top: auto;
    margin-left: 5%;
    position: absolute;
    /*To center the div vertically*/
    top: 50%;
    transform: translateY(-50%);
}
#dots{
    position: absolute;
    bottom: 0;
    width: 50%;
}
/*************JUMBOTRON END**********/
#stepsAndIntro{

}
#steps{
    width: 80%;
    margin:auto;
    margin-top: 30px;
}
.details{
    border: 2px solid #f4f4f2;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50%;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    background-color: #ffd464;
}
.details:hover{
    border: 4px solid #5fa292;
}
#intro{
    margin: auto;
    width: 60%;
    height: 75px;
    border-bottom: solid #f4f4f2 2px;
    padding-left: 6%;
}
#horizontalLine{
    height: 100px;
}
#stepsDetails{
    margin-top: 30px;
    font-size: 1.25em;
}
#detailsText{
    padding-top: 40px;
    color:black;
}
#detailsImg{
    width: 450px;
    height: 250px;
    border: 2px solid black;
}
