h1{
    font-family:"Graduate", cursive;
    font-size: 36px;
}

.centerDiv{
    text-align:center;
    position:relative;
    margin:auto;
}
.downloadButton{
    background-color: #033554;
    display: inline-block;
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
}
.downloadButton{
    color: #f4f4f2;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
#downloadPreview{
    width: 100%
}
#placeHolder{
    height: 500px;
    width: 100%;
    margin-top: 50px;
}
#mainHeading{
    margin: 50px;
    font-size: 3em;
}
#headerName{
    padding: 20px;
}
#headerName h2{
    margin:  0px;
}
#headerName a{
    color: #f4f4f2;
    font-size: 30px;
}
#headerName a:hover{
    text-decoration: none;
}
header{
    background-color: #003554;
    width: 100%;
}
